@media all and (max-width: 1024px) {

	.f_cont, .s_cont {
		width: 50%;
	}

	.search form {
		width: 70%;
	}

	.login {
		width: 35%;
	}

	.links a:hover {
		color: #fff;
	}

	.welc_btn:hover {
		background: none;
	}

	.courses {
		height: 600px;
	}
	
	.courses_btn:hover {
		background: none;
		color: #383749;
	}

	.cont_1:hover, .cont_2:hover {
		box-shadow: none;
	}

	.txt h1 a:hover {
		text-decoration: none;
	}

	.f_header h1 {
		width: 35%;
		font-size: 37px;
	}

	.f_links {
		width: 60%;
	}

	.f_links a {
		font-size: 16px;
	}

	.f_links a:hover {
		text-decoration: none;
		color: #383749;
	}

	.f_btn:hover {
		background: none;
		color: #383749;
	}

	.cours1:hover, .cours2:hover, .cours3:hover,.cours4:hover, .cours5:hover, .cours6:hover {
	box-shadow: none;
}

	.ft_logos {
		width: 30%;
	}

	.ft_links a:hover {
		color: #757686;
	}

}

@media all and (max-width: 768px) {

	.head {
		height: 100px;
	}

	.contact {
		display: flex;
   		justify-content: center;
		width: 100%;
	}

	.f_cont, .s_cont {
		width: 30%;
	}

	.reg {
		display: flex;
   		justify-content: center;
		width: 90%;
	}

	.links {
		display: none;
	}

	.search {
		width: 80%;
	}

	.logo {
		width: 60%;
	}

	.menu_mobile {
		display: block;
		font-size: 30px;
		font-weight: 100;
	}

	.read {
		display: flex;
		flex-wrap: wrap;
		height: 600px;
	}

	.read_1, .read_2, .read_3, .read_4 {
		width: 49.7%;
		border: 1px solid #ebebeb;
	}

	.read_1 h1, .read_2 h1, .read_3 h1, .read_4 h1 {
		font-size: 22px;
	}
	
	.read_1 h2, .read_2 h2, .read_3 h2, .read_4 h2 {
		font-size: 16px;
		line-height: 1.6;
	}

	.courses {
		width: 100%;
		height: 700px;
	}

	.courses h1 {
		width: 60%;
		font-size: 42px;
	}

	.cont_1, .cont_2 {
		width: 90%;
	}

	.pict, .pict2 {
		width: 350px;
	}

	.txt {
		width: 70%;
	}

	.txt h1 {
		width: 80%;
		font-size: 20px;
	}

	.about {
		width: 100%;
		height: 950px;
	}

	.text {
		display: flex;
		flex-wrap: wrap;
		width: 95%;
	}

	.text h1, .text h2{
		width: 100%;
	}

	.state {
		display: flex;
		align-items: center;
		width: 45%;
	}

	.about_ezuca {
		width: 85%;	
	}

	.feature {
		display: flex;
		align-items: space-around;
		height: 1600px;
	}

	.f_header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.f_header h1{
		width: 100%;
		font-size: 42px;
		font-weight: 400;
	}

	.f_links {
		width: 100%;
	}

	.f_links a {
		font-size: 18px;
	}

	.f_courses {
		height: 1300px;
	}

	.cours1, .cours2, .cours3, .cours4, .cours5, .cours6 {
		width: 45%;
		margin-bottom: 50px;
	}
	
}

@media all and (max-width: 414px) {

	.contact {
		display: none;
	}

	.reg {
		width: 90%;
		display: flex;
		flex-wrap: wrap;
	}

	.search {
		margin-right: 30px;
		width: 500px;
	}

	.welc_text h1 {
		font-size: 32px;
	}

	.read {
		height: 1190px;
	}

	.read_1, .read_2, .read_3, .read_4 {
		width: 100%;
	}

	.courses {
		height: 1300px;
	}

	.cont_1, .cont_2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 80%;
		height: 450px;
		border: 1px solid #ebebeb;
	}

	.txt {
		width: 90%;
	}

	.pict, .pict2 {
		width: 100%;
		background-position: -25px;
	}

	.about {
		height: 1150px;
	}

	.state {
		width: 100%;
		height: 500px;
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;
	}

	.state h1 {
		width: 100%;
		padding-top: 20px;
	}

	.about img {
		width: 93%;
	}

	.video_icon {
		display: none;
	}

	.f_header {
		margin: 50px 0;
	}

	.f_links a {
		line-height: 1.8;
	}

	.f_courses {
		height: 2800px;
	}

	.f_btn {
		margin-bottom: 30px;
	}

	.cours1, .cours2, .cours3, .cours4, .cours5, .cours6 {
		width: 90%;
		height: 400px;
	}

	.logos, .footer {
		display: none;
	}

}

@media all and (max-width: 375px) {

	.reg {
		margin-left: 30px;
	}

	.search form{
		width: 300px;
	}

	.login {
		margin-right: 50px;
	}

	.courses h1 {
		width: 50%;
	}

	.txt h1{
		width: 100%;
	}

	.f_courses {
		height: 3100px;
	}

}

@media all and (max-width: 320px) {

	.reg {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.search {
		width: 100%;
		margin-left: 50px;
	}

	.login {
		margin-right: 0;
	}

	.search form {
		padding-left: 20px;
	}

	.welc {
		width: 95%;
	}

	.welc_text h5 {
		width: 100%;
		font-size: 13px;
		font-weight: 700;
	}

	.courses h1 {
		display: flex;
		justify-content: center;
		width: 100%;
		font-size: 35px;
	}

	.courses_btn {
		margin-top: -30px;
	}

	.cont_1 h1, .cont_2 h1 {
		font-size: 20px;
	}

	.txt h1 {
		margin-left: 0;
	}

	.f_courses {
		margin-top: 50px;
	}

}